 <!DOCTYPE html>
 <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Restaurant Management {% endblock %}</title>
        <style>
            footer{
            text-align:center;
            padding:10px;
            margin-top:20px;
            color:#555;
            font-size:14px;
            }
            </style>
    </head>
    <body>
        {% block content  %}

        {% endblock  %}
    <footer>
        &copy;{{ year  }} Restaurant Management.All rigths reserved
    </footer>
    </body>
 </html>