{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us - Restaurant Management  System</title>
        <link rel="stylesheet" href="{% static 'home/style.css'%}">
    </head>
    <body>

<nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
</nav>

<header>
    <h1>Contact Us</h1>
    <p>We would love to hear from you</p>
</header>


<main>
    <section>
        <h2>Our Office</h2>
        <p><strong>Address:</strong>123 main </p>
        <p><strong>Email:</strong><a href="xyz@gmail.com"</a></p>
    </section>

    <section>
        <h2>Buisness Hours</h2>
        <p>Monday-Friday:9-6</p>
        <p>Saturday:10:00 AM - 4:00 PM</p>
        <p>Sunday Closed</p>
    </section>
</main>

<footer>
    &copy;2025 Restaurant Management System
</footer>
    </body>
</html>