{% load static% }
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Restaurant Management System</title>

        <link rel="stylesheet" href="{% static 'home/style.css' %}"
    </head>
    <body style="font-family:Arial, sans-serif;margin:0;padding:0;background-color:#f9fab; color:#333;">

     <nav style="background-color:#ef4444;padding:15px;text-align:center;">
        <a href="/" style="color:white;margin:0 15px; text-decoration:none;font-weight:bold;">Home</a>
        <a href="/about/" style="color:white;margin:0 15px; text-decoration:none;font-weight:nold;">About</a>



        <!--Header-->
        <header style="background-color:#ef4444;color:white;text-align:center;padding:40px 20px">
            <h1 style="margin:0;font-size:2.5rem;">Welcome to{{restaurant_name}} </h1>
            <p><strong>Phone:</strong>{{restaurant_phone}}</p>
            <p style="margin:10px 0 0; font-size:1.1rem;">Manage orders,staff,and customers with ease</p>
        </header>

        <!--Home-->
        <section style="color:#ef4444; margin-top:0;">Details</h2>
        <p><strong>Title:</strong>Improve Homepage Styling</p>
        <p><strong>Date:</strong>August</p>
        <p><strong>Due:</strong>Aug. 14</p>
        <p><strong>Points:</strong>50</p>
        </section>

        <!--Features Section-->
        <main style="max-width:900px;margin:30px auto;padding:0 20px;line-height:1.6;"
        <h2 style="color:#ef4444">Features</h2>
        <ul style="padding-left:20px;">
            <li>Manage Menu & Pricing</li>
            <li>Track orders</li>
            <li>Assign Task</li>
            <li>View Sales </li>
        </ul>

        <h2 style="color:#ef4444;margin-top:30px;">Contact</h2>
        <p>For questions,email
            <a href="innstructor@example.com" style="color:#ef4444; text-decoration:none;font-weight:bold;">
            </a>
        </p>
        </main>


        <!--Footer-->
    <footer style="background-color:#f3f4f6;text-align:center;padding:15px;font-size:0.9rem;color:#555;margin-top:40px;">
        2025 Restaurant Management System
    </footer>
    </body>
</html>
